<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="cloud-artifactory-release" value="https://eis.jfrog.io/eis/api/nuget/net-shared-libraries-release" />
    </packageSources>
    <packageSourceCredentials>
        <cloud-artifactory-release>
            <add key="Username" value="%NUGET_USER%" />
            <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
        </cloud-artifactory-release>
    </packageSourceCredentials>
</configuration>